name: Infos Basiques du Projet

on: [push]

jobs:
  afficher_infos:
    runs-on: ubuntu-latest
    steps:
      # Étape 1 - Afficher la date et heure
      - name:  Date actuelle
        run: date

      # Étape 2 - Lister les fichiers (arborescence courte)
      - name:  Fichiers du projet
        run: |
          echo " Contenu du projet :"
          ls -l

      # Étape 3 - Afficher la branche actuelle
      - name:  Branche Git
        run: |
          echo " Nom de la branche : ${{ github.ref_name }}"
          echo " Commit SHA : ${{ github.sha }}"